section {
  width: 90%;
  text-align: center;
  padding: 10px;
  margin: auto;
  box-sizing: border-box;
  text-align: justify;
  font-family: arial;
}

@media (min-width: 420px) and (max-width: 767px) {
  section {
      width: 70%;
      border: 3px solid #2132cf;
  }
}

@media (min-width: 768px) {
  section {
      width: 50%;
      border: 3px solid #808080;
  }
}

a:hover {
  color: #419412
}

span {
  font-weight: bold;
}
