body {
  font-family: arial;
}

.container {
  width: 90%;
  text-align: center;
  padding: 10px;
  border: unset;
  margin: 0 auto;
  text-align: justify;
}

@media screen and (min-width: 420px) and (max-width: 767px) {
  .container {
      width: 70%;
      border: 3px solid #2132cf;
  }
}

@media screen and (min-width: 768px) {
  .container {
      width: 50%;
      border: 3px solid #808080;
  }
}

.link:hover {
  color: #419412
}

